@font-face {
    font-family: 'phenomenaextrabold';
    src: url('fonts/Phenomenaextrabold.woff2') format('woff2'),
         url('fonts/Phenomenaextrabold.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'phenomenalight';
    src: url('fonts/Phenomenalight.woff2') format('woff2'),
         url('fonts/Phenomenalight.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'phenomenaregular';
    src: url('fonts/Phenomena.woff2') format('woff2'),
         url('fonts/Phenomena.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}